h1{
    color: rgb(99, 245, 14) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
}

h4{
    color: rgb(251, 250, 253) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

hr{
 
    border-top: 1px solid black;
	border-bottom: 1px solid #fff;
}

.jumbotron{
    background-color: rgb(38, 21, 80);
}